body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3vw;
    background-color: #5accff;

}

nav {
    /*выделим границу блока*/
    /*border: 2px solid red;*/
}

.site-menu > ul {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.site-menu li {
    margin: 0 15px;

}

.site-menu a {
    color: #fff;
    text-decoration: none;
    padding: 22px 0;

}