/*Подключаем шрифт*/
@font-face {
    src: url('../fonts/RuslanDisplay.ttf');
    font-family: "Ruslan Display";
}
@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
    font-family: "Roboto Regular";
}

@font-face {
    src: url('../fonts/Spectral-Regular.ttf');
    font-family: "Spectral Regular";
}


@font-face {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: "OpenSans Regular";
}

@font-face {
    src: url('../fonts/OpenSans-Bold.ttf');
    font-family: "OpenSans Bold";
}

body {
    font-family: "OpenSans Regular", Arial, Helvetica, sans-serif;

}

h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    font-family: "Spectral Regular", Arial, Helvetica, serif;
}

a{
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;

}

/*header*/

.nav-block {
    display: inline-block;
    width: 1249px;
    height: 89px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #000000;
}

.nav-block-inner {
    width: 550px;
    margin: 0 auto;
    /*background-color: gray;*/

}

.navigation {
    display: table-cell;
    height: 89px;
    color: #E0E0E0;
    font-weight: bolder;
    vertical-align: middle;
    text-transform: uppercase;
    padding-right: 30px;
    padding-left: 30px;

}

.navigation:hover {
    background-color: #FF2D2D;

}

/*main*/

.artboard {
    width: 1582px;
    height: 691px;
    background-color: #F6F2F2;
}

.content-block {
    width: 1249px;
    margin: 0 auto;

}

.innercontent {
    display: inline-block;
}

.innercontent-inner {
    position: relative;
    display: inline-block;
    width: 618px;
    height: 359px;
    vertical-align: bottom;
    horiz-align: right;
}

.innercontent-inner h1 {
    font-family: "Ruslan Display", Arial, Helvetica, sans-serif;

}

.innercontent-inner p {
    width: 500px;
}

.innercontent-inner img {
    margin-left: 64px;

}


.button {
    position: absolute;
    width: 230px;
    height: 58px;
    left: 0;
    bottom: 0;
    color: #FFFFFF;
    background-color: #FF2D2D;
    text-align: center;

}

.button a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bolder;
}

/*footer*/