body {
    margin: 0;
    background-color: #e0e0e0;
}

.navigation {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1249px;
    height: 89px;
    background-color: #000000;

}

.navigation a {

    padding: 42px 25px 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

}

.navigation a:hover {
    background-color: #ff3f40;
}
