/*подключаем шрифты*/
/*!*Open Sans*!*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap&subset=cyrillic');

html {
    font-size: 10px;
}


body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    background-color: #fff;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.5rem;

}

/*Header*/
.header {
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    /*align-items: stretch;*/

    max-width: 1249px;
    min-height: 89px;
    background-color: #000000;

    /*border: 2px solid green;*/


}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    /*border: 2px solid red;*/

}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    /*padding: 36px 25px 34px;*/
    padding-left: 25px;
    padding-right: 25px;

    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    /*text-align: center;*/

}

.nav a:hover {
    background-color: #ff3f40;
}

.wrapper {
    /*display: flex;*/
    /*flex-wrap: wrap;*/

}

/*Intro area*/
.intro-wrapper {
    background-color: #e0e0e0;

}

.intro {
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: #e0e0e0;
    max-width: 1249px;
    padding: 96px 0 96px;

    font-size: 1.5rem;

    /*border: 2px solid blue;*/

}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    /*max-width: 545px;*/
}

.intro-text {
    /*max-width: 545px;*/
    /*margin-bottom: 40px;*/
    line-height: 1.5;

}

.intro-heading {
    margin: 0;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
}

.intro-heading > .style-text {
    letter-spacing: 6px;
}


.contact-link {
    color: #ffffff;
    background-color: #ff3f40;
    width: 227px;
    padding: 17px 0;
    margin: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 2rem;
}

/*----------------------- Services ---------------------------*/
.services {
    display: flex;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
    margin-top: 11.5rem;
    margin-bottom: 6rem;

    max-width: 1249px;
    font-size: 1.5rem;
    background-color: #fff;

    /*font-size: 1.6rem;*/
    line-height: 1.4;

}

.services p {
    font-size: 1.6rem;
    line-height: 1.7;
    width: 90%;

}

.services-content {
    width: 50%;
    /*border: 2px solid blue;*/

}

.services-content h1 {
    margin-top: 0;
    margin-bottom: 3rem;

    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.service-tags {
    /*border: 2px solid green;*/
    width: 50%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-left: 4rem;


}

.service-tag {
    /*border: 1px solid red;*/
    width: 27rem;


}

.service-tag > img {
    width: 44px;
    height: auto;
    margin-bottom: 2.5rem;

}

.service-tag h3, p {
    margin: 0;
}

.service-tag p {
    margin-bottom: 2rem;
}

.service-tag h3 {

    font-size: 2.4rem;
    margin-bottom: 1rem;

    /*line-height: 1.4;*/

}


.services-content-btn {
    width: 23rem;
    height: 57px;
    margin-top: 9rem;
    font-size: 1.8rem;
    font-weight: bold;

    background-color: #fff;
    border: 2px solid #FF0000;
    color: #FF2D2D;

    border-radius: 5px;

}

.services-content-btn:hover {
    cursor: pointer;

    /*background-color: #6e45e2;*/
}

/*-----------Feature Products ---------------------------*/

.feature-products {
    /*border: 1px solid red;*/


    max-width: 1249px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 9.5rem;
    margin-bottom: 11.5rem;

    /*display: flex;*/

}

.feature-products-header {
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 5rem;
}

.feature-products-header h2 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;

}

.feature-products-header p {
    width: 53rem;
    display: inline-block;
    line-height: 1.4;
    margin-bottom: 3rem;

}

.feature-products-header > hr {
    width: 134px;
    border-color: #FF2D2D;
}

.feature-products-menu {
    /*border: 1px solid red;*/
    /*width: 70%;*/
    margin-top: 7rem;
    margin-bottom: 5rem;

    display: flex;
    justify-content: center;

}

.feature-products-menu ul {
    /*border: 1px solid green;*/

    width: 70%;
    display: flex;
    justify-content: space-between;

    list-style: none;

}

.feature-products-menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 600;
    color: #000;


}

.feature-products-menu-link:hover {
    color: #FF2D2D;
}

.feature-products-tags {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.feature-products-tag {
    /*border: 1px solid blue;*/

    margin: 5px;

}

/*--------------------------- Our Team ---------------*/
.our-team {
    width: 1249px;
    margin: 10rem auto;
    /*display: flex;*/

}

.our-team-header {
    text-align: left;
    margin-bottom: 7rem;

}

.our-team-header h2 {
    font-size: 4.1rem;
    text-transform: uppercase;

}

.our-team-header p {
    width: 35%;
    line-height: 1.4;

    margin-bottom: 4rem;

}

.our-team-header > hr {
    width: 134px;
    border-color: #FF2D2D;
}


.our-team-content {
    margin-top: 5rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.our-team-boss {

}

.our-team-team {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 70%;

}

.our-team-team h3 {
    /*margin: 0;*/
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 0;

    font-size: 3rem;

}

.our-team-team p {
    width: 80%;
    margin-top: 0;
    margin-left: 1rem;
}

.our-team-team ul {
    /*border: 1px solid deeppink;*/
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;

}

.our-team-links {
    text-decoration: none;
    font-style: italic;
    color: #000;

    /*padding-left: 25px;*/
    padding-right: 25px;


}

.our-team-links a {
    text-align: left;
    /*border: 1px solid purple;*/

}

.our-team-links:hover {
    color: #FF2D2D;
}


.team-members-tags {
    border: 1px solid red;
    /*margin: 0;*/

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.team-member-tag {
    border: 1px solid green;
    margin: 0;
    padding: 0;
    width: 197px;


}

.team-member-tag:hover {
    box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);

}


.team-member-btn {
    width: 100%;
    height: 3rem;
    margin-top: -3rem;
    padding: 0;
    text-transform: uppercase;
    border: none;
    background-color: #f5f0dd;
    color: #f5f0dd;
    font-size: 1.8rem;
}

.team-member-btn:hover {
    cursor: pointer;
    background-color: #000;
    opacity: 0.5;
    color: #fff;


}

/*------------------------ Subscribe Area -----------------*/
.subscribe-wrapper {
    margin: 0;
    background-color: #000;

}

.subscribe {
    width: 1249px;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 14rem;

    /*display: flex;*/
    /*justify-content: center;*/


}

.subscribe-header {
    /*border: 1px solid deeppink;*/

    text-align: center;
    margin-bottom: 5rem;
}

.subscribe-header h2 {

    font-size: 4.2rem;
    color: #fff;
}

.subscribe-header p {
    color: #fff;

}

.subscribe-area {
    /*border: 1px solid red;*/

    display: flex;
    justify-content: center;
}

.subscribe-input {
    width: 524px;
    height: 82px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 2rem;
}

.subscribe-button {
    width: 217px;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #FF2D2D;

}

.subscribe-button:hover{
    cursor: pointer;
}
/*------------------------Footer--------------------*/

.footer {
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;

    min-height: 113px;
    background-color: #313030;


}

.foot-inner {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    width: 1249px;
    /*выделим границу блока*/
    /*border: 2px solid red;*/

}

.copyright {
    color: #B8B8B8;
}

.social-icons {
    margin: 20px 0;
}

.social-icons > a {
    padding: 0 9px;
}

/*Медиа-запросы */
@media screen and (max-width: 1286px) {
    .intro {
        flex-wrap: nowrap;
    }

    .intro-content {
        margin: 0 auto;
        /*width: 539px;*/
        width: 50%;
    }

    .intro-image-link {
        width: 50%;
        height: auto;
    }

    .intro-image {
        max-width: 554px;
        width: 100%;
        height: auto;
    }


}

@media screen and (max-width: 1040px) {

    .intro-content h1 {
        /*font-size: 50px;*/
        /*width: 100%;*/
        word-break: break-word;
    }

}

@media screen and (max-width: 700px) {

    .intro-heading {
        font-size: 5vw;
    }

    .intro {
        flex-wrap: wrap;
    }

    .intro-content {
        margin: 0 auto;
        width: 100%;
    }

    .intro-content h1, p {
        text-align: center;
    }

    .intro-image-link {
        max-width: 540px;
        width: 100%;
        height: auto;
    }

    .intro a {
        margin: 15px auto;
    }

}

@media screen and (max-width: 540px) {
    .intro {
        flex-wrap: wrap;
    }

    .intro a {
        margin: 15px auto;
    }

    .intro-image {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 350px) {

    .intro-image {
        width: 350px;
        height: auto;
    }
}