/*header*/
header {
    color: #000;
}

header a {
    display: inline-block;
    margin: 0 30px;
    color: inherit;
}

header a:nth-child(2) {
    color: rgb(64, 216, 25);
}

/*main*/

body {
    font-size: 20px;
    color: rgb(23, 74, 151);
}

h1, h2 {
    color: rgb(233, 175, 15);
}

p {
    /*    display: inline-block;*/
    /*    width: 60ch;*/
    font-size: 20px;
    color: rgb(94, 94, 94);
}

h2 + p {
    font-style: italic;
}

.about-heading {
    color: rgb(240, 17, 17);
}

.important-text {
    color: #000;
    font-weight: 700;
}

.text {
    font-size: 30px;
}

a {
    font-size: 30px;
}

a:hover {
    color: rgb(231, 22, 22);
}

/*footer*/

